select{
    background-color: #3AB4E3;
}

select option[value="1"]{
    background: #F8F545;
    color: black;
}
select option[value="2"]{
    background: #fd7e14;
    color: white;
}
select option[value="3"]{
    background: #56D95B;
}
select option[value="4"]{
    background: #3AB4E3;
}
select option[value="5"]{
    background: #EF7AD3;
    color: black;
}
select option[value="6"]{
    background: #B406F2;
    color: white;

}