body{
    height: 100vh;
    overflow: hidden;
}

main{
    color: rgb(176, 148, 98)!important;
    background-image: url('../img/alternativeBG.webp');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.glass-wrapper{
    height: 50%;
    width: 40%;
    left: 5%;
    background:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0) );
    backdrop-filter: blur(10px);
    box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.25);
    position: absolute;
    border-radius: 20px;
    padding: 2% 3%;
    margin-top: 5%;
}

.glass-wrapper h1{
    font-size: 3rem;
}

.glass-wrapper a{
    font-size: 1.5rem !important;
    background-color: rgb(176, 148, 98);
    border-radius: 10px;
}

.glass-wrapper button{
    font-size: 1.5rem;
}

.glass-wrapper button:hover{
    color: rgb(210, 210, 210);
}

.glass-wrapper button:active{
    color: rgb(210, 210, 210)!important;
}