body{
    height: 100vh;
    overflow: hidden;
}

main{
    color: rgb(176, 148, 98)!important;
}

.glass-wrapper{
    height: 55%;
    width: 40%;
    left: 5%;
    background:linear-gradient(135deg,rgba(0,0,0,0.1),rgba(0,0,0,0) );
    backdrop-filter: blur(10px);
    box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.25);
    position: absolute;
    border-radius: 20px;
    padding: 2% 3%;
    margin-top: 5%;
}

.glass-wrapper h1{
    font-size: 3rem;
}

main .btn{
    font-size: 1.7rem;
    background-color: rgb(176, 148, 98);
    border-color: rgb(176, 148, 98);
    border-radius: 10px;
    color: white;
}

main .btn:hover{
    background-color: inherit;
    color: rgb(176, 148, 98);
    border-color: rgb(176, 148, 98);
}

main button:active{
    background-color: rgb(176, 148, 98)!important;
    border-color: rgb(176, 148, 98)!important;
}