{% extends 'base.html' %} 
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}

<main>
  <div class="glass-wrapper d-flex justify-content-center flex-column align-items-center">
    <img src="{% static 'img/Logo.webp' %}" height="80"  alt="" class="mb-4">
    <a href="{% url 'forms-register' %}" class="my-2"><button class="btn">Registrar Visita</button></a>
    <a href="{% url 'registers' %}" class="my-2"> <button class="btn">Asignar Brazalete</button></a>
    <a href="{% url 'getSummary' %}" class="my-2"><button class="btn">Realizar Corte</button></a>
  </div>
</main>


{% endblock %} 

{% block scripts %} 
{% endblock %}
