{% extends 'base.html' %} 
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}

<main>
  <div class="d-flex flex-column align-items-center">
    <div class="mt-5 pt-5">
      <img src="{% static 'img/Icono.webp' %}" height="150" alt="" class="me-3">
      <img src="{% static 'img/Logo.webp' %}" height="100"  alt="" class="mb-3">
    </div>
    <a href="{% url 'forms-register' %}" class="my-2"><button class="btn btn-primary">Registrar Visita</button></a>
    <a href="{% url 'registers' %}" class="my-2"> <button class="btn btn-primary">Asignar Brazalete</button></a>
    <a href="{% url 'getSummary' %}" class="my-2"><button class="btn btn-primary">Realizar Corte</button></a>
  </div>
</main>


{% endblock %} 

{% block scripts %} 
{% endblock %}
