{% extends 'base.html' %}
{% load static %}

{% block title %}
        <title>Registrados</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/registers.css' %}">
{% endblock %}

{% block content %}
<main class="text-center">
    <h1 class="highlight mt-4">Registrados</h1>
    <section class="container my-4 mb-4">
        <div class="row d-flex mb-3"><h4 class="highlight">Buscar Registro</h4></div>
        <div class="row">
            <div class="col"></div>
            <div class="col-10">
                <form action="/registros" role="search" class="d-flex mx-5">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" name="cNombreCompleto">
                    <button class="btn btn-outline-success me-2" type="submit">Buscar</button>
                    <button class="btn btn-outline-success text-nowrap me-2" id="filter-btn" type="button">Sin asignar</button>
                    <a class="text-decoration-none" href="{% url 'registers' %}"><button class="btn btn-outline-success me-2">Reiniciar</button></a>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </section>
    <section>
        <ul class="pagination justify-content-center align-items-center">
            <li class="d-flex">
                {% if registros.has_previous %}
                <a href="?page=1" class="btn btn-outline-success">&laquo; Primera</a>
                {% endif %}

                {% if registros.has_previous %}
                    <a class="page-link text-success" href="?page={{ registros.previous_page_number }}">{{ registros.previous_page_number }}</a>
                {% endif %}
                
                <a class="page-link text-success" href="?page={{ registros.number }}">{{ registros.number }}</a>
                
                {% if registros.has_next %}
                    <a class="page-link text-success" href="?page={{ registros.next_page_number }}">{{ registros.next_page_number }}</a>
                {% endif %}

                {% if registros.has_next %}
                    <a href="?page={{ registros.paginator.num_pages }}" class="btn btn-outline-success">Última &raquo;</a>
                {% endif %}
            </li>
        </ul>
    </section>    

    <section class="container my-3 mt-4">
        <table class="table">
            <thead>
                <tr>
                    {{ field }}
                    <th>
                    {% if next_order == "asc" and field == "nIdRegistro" %}
                        <a href="?field=nIdRegistro&order={{ next_order }}"><button class="btn sort-btn a-z" data-field="nIdRegistro">ID<i class="fa-solid fa-arrow-down-a-z sort-toggle "></i></button></a>
                    {% else %}
                        <a href="?field=nIdRegistro&order={{ next_order }}"><button class="btn sort-btn a-z" data-field="nIdRegistro">ID<i class="fa-solid sort-toggle fa-arrow-up-a-z"></i></button></a>
                    {% endif %}
                    </th>
                    <th>
                    {% if next_order == "asc" and field == "cNombreCompleto" %}
                        <a href="?field=cNombreCompleto&order={{ next_order }}"><button class="btn sort-btn a-z" data-field="cNombreCompleto">Nombre<i class="fa-solid fa-arrow-down-a-z sort-toggle"></i></button></a>
                    {% else %}
                        <a href="?field=cNombreCompleto&order={{ next_order }}"><button class="btn sort-btn a-z" data-field="cNombreCompleto">Nombre<i class="fa-solid sort-toggle fa-arrow-up-a-z"></i></button></a>
                    {% endif %}
                    </th>
                    <th>
                    {% if next_order == "asc" and field == "cPaisEmpresa" %}
                        <a href="?field=cPaisEmpresa&order={{ next_order }}"><button class="btn sort-btn a-z" data-field="cPaisEmpresa">Pais o Empresa <i class="fa-solid fa-arrow-down-a-z sort-toggle"></i></button></a>
                    {% else %}
                        <a href="?field=cPaisEmpresa&order={{ next_order }}"><button class="btn sort-btn a-z" data-field="cPaisEmpresa">Pais o Empresa <i class="fa-solid sort-toggle fa-arrow-up-a-z"></i></button></a>
                    {% endif %}
                    <th>
                    {% if next_order == "asc" and field == "cModalidadActividad" %}
                        <a href="?field=cModalidadActividad&order={{ next_order }}"><button class="btn sort-btn a-z" data-field="cModalidadActividad">Modalidad<i class="fa-solid fa-arrow-down-a-z sort-toggle"></i></button></a>
                    {% else %}
                        <a href="?field=cModalidadActividad&order={{ next_order }}"><button class="btn sort-btn a-z" data-field="cModalidadActividad">Modalidad<i class="fa-solid sort-toggle fa-arrow-up-a-z"></i></button></a>
                    {% endif %}
                    </th>
                    <th>
                    {% if next_order == "asc" and field == "dFecha" %}
                        <a href="?field=dFecha&order={{ next_order }}"><button class="btn sort-btn a-z" data-field="dFecha">Fecha<i class="fa-solid fa-arrow-down-a-z sort-toggle"></i></button></a>
                    {% else %}
                        <a href="?field=dFecha&order={{ next_order }}"><button class="btn sort-btn a-z" data-field="dFecha">Fecha<i class="fa-solid sort-toggle fa-arrow-up-a-z"></i></button></a>
                    {% endif %}
                    </th>
                    <th>
                    {% if next_order == "asc" and field == "tHora" %}
                        <a href="?field=tHora&order={{ next_order }}"><button class="btn sort-btn a-z" data-field="tHora">Hora<i class="fa-solid fa-arrow-down-a-z sort-toggle"></i></button></a> 
                    {% else %}
                        <a href="?field=tHora&order={{ next_order }}"><button class="btn sort-btn a-z" data-field="tHora">Hora<i class="fa-solid sort-toggle fa-arrow-up-a-z"></i></button></a>
                    {% endif %}
                    </th>
                    <th>
                    {% if next_order == "asc" and field == "cBrazalete" %}
                        <a href="?field=cBrazalete&order={{ next_order }}"><button class="btn sort-btn a-z" data-field="cBrazalete">Tipo de Brazalete<i class="fa-solid fa-arrow-down-a-z sort-toggle"></i></button></a> 
                    {% else %}
                    <a href="?field=cBrazalete&order={{ next_order }}"><button class="btn sort-btn a-z" data-field="cBrazalete">Tipo de Brazalete<i class="fa-solid sort-toggle fa-arrow-up-a-z"></i></button></a>
                    {% endif %}
                    </th>
                    <th>Guardar</th>  
                </tr>
            </thead>
            <tbody>

                {% for registro in registros %}
                <tr>
                    <td>{{ registro.nIdRegistro }}</td>
                    <td>{{ registro.cNombreCompleto  }}</td>
                    <td>{{ registro.cPaisEmpresa }}</td>
                    <td>{{ registro.cModalidadActividad }}</td>
                    <td>{{ registro.dFecha }}</td>
                    <td>{{ registro.tHora }}</td>
                    <form method="post">
                        {% csrf_token %}
                        <td>
                            <Select name="n_bz" class="form-select text-center tipo-pulsera" aria-label="tipo-pulsera">
                                <option {% if registro.cBrazalete == 0 %}selected{% endif %} value="0">Tipo de Pulsera</option>
                                <option {% if registro.cBrazalete == 1 %}selected{% endif %} value="1">Staff</option>
                                <option {% if registro.cBrazalete == 2 %}selected{% endif %} value="2">Expositor</option>
                                <option {% if registro.cBrazalete == 3 %}selected{% endif %} value="3">Colaborador</option>
                                <option {% if registro.cBrazalete == 4 %}selected{% endif %} value="4">VIP</option>
                                <option {% if registro.cBrazalete == 5 %}selected{% endif %} value="5"value="5">Artista</option>
                                <option {% if registro.cBrazalete == 6 %}selected{% endif %} value="6"value="6">Comunicación</option>
                            </Select>
                        </td>
                        <td>
                            <input style="display: none;" type="text" name="id_r" id="id_r" value="{{ registro.nIdRegistro }}">
                            <button class="btn btn-primary save-btn" type="submit">Guardar</button>
                        </td>
                    </form>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </section>
</main>

{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/registers.js' %}"></script>
{% endblock %}